.env
.gradle
.idea
.jqwik-database
build
/plugin-test/screenshot
/plugin-test/video

# Generated with Nix Flakes:
/result
/ipredicate/project/src/main/kotlin/com/github/tarcv/testingteam/surveyor/ipredicate/GSPredicate.kt
/ipredicate/project/src/main/kotlin/com/github/tarcv/testingteam/surveyor/ipredicate/WebDriverAgent.kt